fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6
pydantic-settings==2.0.3
python-dotenv==1.0.1
aiohttp==3.11.14
numpy==2.2.4
huggingface_hub==0.29.3
sentence-transformers==3.4.1
chromadb==0.6.3
PyJWT==2.10.1
aio-pika==9.5.5