fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6
python-multipart==0.0.6
numpy==1.26.2
scikit-learn==1.6.1
python-dotenv==1.0.1
httpx==0.25.1
spacy==3.8.4
huggingface_hub==0.29.3
sentence-transformers==3.4.1
torch==2.6.0
faiss-cpu==1.7.4
psycopg2-binary==2.9.6 
PyJWT==2.10.1